$primaryColor: #ff6f61;
$lightColor: #efefef;

$recipeTypes: (
    "rapide": rgb(105, 197, 255),
    "viande": rgb(255, 170, 170),
    "familliale": rgb(137, 255, 245),
    "vegetarien": rgb(144, 255, 107),
    "dessert": rgb(145, 99, 0),
    "long": rgb(171, 123, 255),
)